<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ ArticleTitle }}</title>
  <meta name="author" content="{{ ArticleAuthor }}">
  <meta name="description" content="{{ ArticleTitle }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/../static/css/dark.css" rel="stylesheet" id="themecss">
</head>

<body>
    {{ ArticleHTML | safe }}

    <center>
        <input type="button" value="Save as Markdown" class="downBtn" onclick="downArticle()" />
    </center>

    <br />
    <div class="popout" onclick="lights()">
        <div class="btn">
            <img src="/static/image/theme.png">
        </div>
    </div>
    <br /><br />
</body>
<script>
    var darkness = true;
    function lights(){
        if (darkness){
            document.getElementById("themecss").href="/../static/css/light.css";
            darkness = false;
        }
        else {
            document.getElementById("themecss").href="/../static/css/dark.css";
            darkness = true;
        }
    }

    async function downArticle(){
        let t = await download();
        document.getElementsByClassName("downBtn")[0].value = 'Done 👍';
    }

    async function download() {
        document.getElementsByClassName("downBtn")[0].value = 'Here\'s your chance to catch a few blinks.';
        let promise = new Promise((res, rej) => {
            window.location = '{{ MdLink }}';
        });
        let result = await promise;
        return result;
    }

</script>
</html>
